flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
mysqlclient = "*"
python-dotenv = "*"
flask-restful = "*"
flask-script = "*"
datetime = "*"
gunicorn = "*"
pybase64 = "*"
Pillow = "*"
cloudinary = "*"
imagekitio = "*"